.container {
    width: 85%;
    margin: auto;
}


@media (min-width:1300px) {
    .container {
        width: 1200px;
    }
}


@media (min-width:1500px) {
    .container {
        width: 1280px;
    }
}