.footer {
    background: #183443;
    color: #fff;
    width: 100%;
}

.footerWrp {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 150px;
    justify-content: space-between;
    row-gap: 20px;

}

.rightArrowIcons {
    margin-right: 10px;
}

.footerhadering {
    font-size: 22px;
}

.foooterLogo {
    aspect-ratio: 16/16;
    margin-top: -10px;
}

.ul {
    transform: translateX(-35px);
}

.addressphoneminaWrp {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-top: 7px;
    padding-bottom: 15px;
}

.addressphoneminaWrp>a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(207, 207, 207);
}

.addressOcons {
    font-size: 20px;
}

.footerWrp>div>ul {
    list-style: none;
    padding-top: 25px;
}

.footerWrp>div>ul>li {
    padding: 5px 0px;
}

.footerWrp>div>ul>li>a {
    color: rgb(207, 207, 207);
    display: flex;
    padding-left: 35px;
}

.footerWrp>div>ul>li>a:hover {
    color: #fff;
}

.Connect {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.IWrp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .3s;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;

}

.contaceIcons {
    width: 27px;
    height: 27px;
}


.IWrp:hover {
    background: #fff;
    color: #014694;
}



.copyRight {
    border-top: 2px solid rgb(182, 182, 182);
    grid-column: 1/-1;
    padding: 15px;
    width: 80%;
    margin: auto;
    text-align: center;
    color: rgb(191, 191, 191);
}

.footerModelWrper {
    background: #f5f5f5;
    height: 270px;
    width: 100%;
    border-radius: 20px;
    transform: translateY(-100px);
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.footerModelWrper>div {
    width: 100%;
}

.footerManimage {
    height: 330px;
    width: 280px;
    transform: translateY(-30px);
}




.footer_gredent {
    background: linear-gradient(to right, #f5f5f5, rgba(255, 255, 255, 0.837));
    top: 0;
    left: 0;
    border-radius: 20px;
}

@media (max-width:990px) {
    .footerWrp {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;

    }
}

@media (max-width:768px) {
    .footerWrp {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .Connect {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .Subscribe {
        width: 100%;
    }

    .foooterLogo {
        margin: auto;
        margin-top: 10px;
        margin-bottom: -30px;
        display: flex;
        justify-self: center;

    }

    .Connect {
        width: 80%;
        margin: auto;
    }
}

@media (max-width:330px) {
    .Connect>div {
        width: 30px;
        height: 30px;
    }

    .contaceIcons {
        width: 23px;
        height: 23px;
        padding: 1px;
    }
}