@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #72b261;
  --textPrimary: black;
  --textSecondary: rgb(113, 113, 113);
  --bgtoptext: rgb(147, 147, 147);
  --bgPrimary: #ffffff;
  --bgsecondary: #ddd;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pbg {
  background: var(--color-primary);
}

.pcolor {
  color: var(--color-primary);
}

/* join-community componnent */
.joinCommunity {
  /* background-image: linear-gradient(to right, #183443f2, #1834439a), url("../public/joinCommunity.webp"); */
  width: 100%;
  height: fit-content;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.hello {
  background: linear-gradient(to right, #183443f2, #1834439a);
}

/* single banner componnent css here */
.oneBg {
  background-image: linear-gradient(#73b26100, #183443a5), url("../public/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.twoBg {
  background-image: linear-gradient(#73b26100, #183443a5), url("../public/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.threeBg {
  background-image: linear-gradient(#73b26100, #183443a5), url("../public/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .swiper-button-prev {
  display: none;
}

.swiper-button-next {
  display: none;
} */